$width: 800px;

.home-list {
	max-width: $width;
	margin: auto;

	.home-list-ul {
		margin-top: 40px;
		padding: 0 15px;
	}

	.li {
		padding-bottom: 30px;
		padding-top: 10px;
		background-color: #fff;
		display: flex;
		border-bottom: 1px solid #eee;
		flex-direction: column;
		position: relative;

		.btns {
			position: absolute;
			right: 0;
			top: 20px;
			Button {
				margin: 5px;
			}
		}

		h1 {
			cursor: pointer;
			font-size: 25px;
			font-weight: bold;
			margin-bottom: 20px;
			color: #555;
		}
		.content {
			letter-spacing: 1px;
			font-size: 16px;
			line-height: 28px;
			margin-bottom: 22px;
			max-height: 75px;
			overflow: hidden;
		}
		.time {
			color: #888;
			font-size: 13px;
		}

	}
}